body {
  background-image: url(stade.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

h1 {
  font-family: helvetica;
  color: grey;
  text-align: center;
  max-width: 1280px;
  min-width: 100px;
}

#equipes {
  margin-left: 7%;
  text-align: justify;
  float: left;
  display: block;
  margin-top: 5%;
}

#joueurs {
  margin-left: 40%;
  text-align: justify;
  margin-top: 5%;
}
h2 {
  font-family: helvetica;
}
